<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<th:block th:fragment="headerFragment">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Member</title>
        <!-- CSS -->
        <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"></link>
        <style>
            a {text-decoration: none;}
        </style>
        <!-- JS -->    
        <script th:src="@{/js/jquery.min.js}" type="text/javascript"></script>
        <!-- JS -->    
        <script th:src="@{/js/bootstrap.min.js}" type="text/javascript"></script>
    </head>
<body>
    <nav class="navbar bg-primary">
        <div class="container-fluid">
            <a class="navbar-brand" style="color: #fff;" href="/">Tanzu Test Applicatoin</a> 
        </div>
    </nav>
</th:block>
</html>